.tech {
    width: 50vw;
    border-bottom: 1px solid grey;
    height: 36px;
}

.developer {
    border-bottom: 1px solid grey;
}

.techHeader {
    width: 50vw;
    background: #E5E5E5;
    height: 36px;
}

.developerHeader {
    background: #E5E5E5;
    height: 36px;
}

.row {
    display: flex;
}

.rowHeader {
    display: flex;
}

.loading {
position:absolute;

}
.loading img{
    width: 300px;
    height: 300px;

} 